### Using Word2Vec

In [1]:
import gensim
from gensim.models import word2vec
from gensim.models import KeyedVectors
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
word_vectors=KeyedVectors.load_word2vec_format('GoogleNews-vectors-negative300.bin',binary=True)

In [4]:
import numpy as np
import pandas as pd

In [5]:
df=pd.read_csv("Test-Odd_one_out.csv")

In [6]:
data=df.values

In [7]:
data.shape

(20, 5)

In [13]:
def odd_one_out(words):
    all_word_vectors=[word_vectors[w] for w in words]
    avg_vector=np.mean(all_word_vectors,axis=0)
    
    odd_one_out=None
    min_similarity=1.0
    
    for w in words:
        sim=cosine_similarity([word_vectors[w]],[avg_vector])
        if sim<min_similarity:
            min_similarity=sim
            odd_one_out=w
        
    return odd_one_out

In [15]:
results=[]
for i in range(data.shape[0]):
    words=[w for w in data[i]]
    ans=odd_one_out(words)
    results.append(ans)

In [16]:
print(results)

['snake', 'teacher', 'cat', 'pineapple', 'India', 'is', 'was', 'Australia', 'Money', 'think', 'ship', 'Rome', 'Pool', 'Egypt', 'mouse', 'helmet', 'Universe', 'Kill', 'Club', 'Sun']

In [20]:
df1=pd.DataFrame(results)

In [21]:
df1

            0
0       snake
1     teacher
2         cat
3   pineapple
4       India
5          is
6         was
7   Australia
8       Money
9       think
10       ship
11       Rome
12       Pool
13      Egypt
14      mouse
15     helmet
16   Universe
17       Kill
18       Club
19        Sun

In [22]:
df1.to_csv("output_odd_one_out.csv",header=['OddOne'],index=False)